{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <style> 
        body {display: flex; height: 100vh; justify-content: center; align-items: center; margin: 0; background-color: #E6E6FA}
        .container {display: flex; width: fit-content; padding: 20px; border-radius: 5px; box-shadow: 5px 5px 5px grey;background: #F5F5F5;}
        .inputs {display: flex; flex-direction: column; text-align: center}
        button {text-align: center}
        a {color: #2C3E50; text-decoration: none;  margin-right: 10px}
    </style>
    
    <div class="container">
        <div class="inputs">            
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h1 class="h3 mb-3 fw-normal">Réinitialiser mot de passe</h1>

            {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                <div style="margin-top: 10px; margin-bottom: 10px;">
                    <small class="mt-2 mb-3 text-muted">
                        Entrez votre adresse e-mail et nous vous enverrons 
                    </small>
                    <br>
                    <small class="mt-2 mb-3 text-muted">
                        un lien pour réinitialiser votre mot de passe.
                    </small>
                </div>
                <div>
                    <button class="w-100 btn btn-lg btn-primary mt-3 mb-2">Envoyer email</button>
                    <a href="{{ path('login') }}">retour</a>
                </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
